body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body aside nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #2262CC;
  gap: 5%;
}

body aside nav ul li {
  padding: 20px;
  list-style: none;
}

body aside nav ul li a {
  text-transform: uppercase;
  color: #FFF;
  text-decoration: unset;
}

body header h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

body header h1 span {
  font-weight: bold;
}

body section {
  display: -ms-grid;
  display: grid;
  place-items: center;
  grid-row-gap: 30px;
}

body section#practice {
  max-width: 1280px;
  margin: 0 auto;
  background: #cccccc60;
}

body section .types-css {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section .types-css p {
  font-weight: bold;
}

body section .types-css p:last-of-type {
  color: green;
}

body section .box-model .box {
  width: 200px;
  height: 150px;
  border: 15px solid #ccc;
  padding: 10px;
  margin: 20px;
  background: #3ab87a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body section .box-model .box p {
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  text-transform: uppercase;
}

body section .box-model .box p span {
  display: block;
}

body section .addSix p {
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #2262CC;
  padding: 15px 20px;
  border: 1px solid #2262CC;
}

body section .duplicate .title {
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #2262CC;
  padding: 15px 20px;
  border: 1px solid #2262CC;
}

body section .duplicate .title:hover {
  background: #2262CC;
  color: #fff;
  border: 1px solid #2262CC;
}

body section .duplicate .numbers {
  text-align: center;
  color: #2262CC;
  font-size: 20px;
  letter-spacing: 1.5px;
}

body section .duplicate .numbers span {
  margin: 0 5px;
}

body section .person .wrapper-buttons, body section .scope .wrapper-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1%;
  max-width: 500px;
}

body section .person .wrapper-buttons p, body section .scope .wrapper-buttons p {
  font-size: 15px !important;
}

body section .person p.person, body section .scope p.person {
  font-weight: bold;
  color: #2262CC;
}

body section .person p.button, body section .person p.button-escope, body section .scope p.button, body section .scope p.button-escope {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #2262CC;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #2262CC;
}

body section .person p.button:hover, body section .person p.button-escope:hover, body section .scope p.button:hover, body section .scope p.button-escope:hover {
  background: #2262CC;
  color: #fff;
  border: 1px solid #2262CC;
}

body section .person p.description, body section .scope p.description {
  font-weight: bold;
  color: #2262CC;
  text-transform: uppercase;
  padding-right: 5px;
}

body section .person p.description span, body section .scope p.description span {
  text-transform: capitalize;
  font-weight: 100;
}

body footer h4 {
  font-size: 20px;
  color: #2262CC;
  font-weight: bold;
}

body footer .person {
  margin: 50px 0;
  text-align: center;
}

body footer .person .wrapper-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1%;
}

body footer .person .wrapper-icons img {
  max-width: 50px;
  width: 100%;
}

body footer .person .example {
  display: -ms-grid;
  display: grid;
}

body footer .person .example .wrapper-icons {
  display: -ms-grid;
  display: grid;
}

body footer .person .example .wrapper-icons img {
  max-width: unset;
}
/*# sourceMappingURL=style.css.map */